<!DOCTYPE html>
<html>
  <head>
    <title>PETTRA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
		<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<%= image_tag 'image.png', class: "tops_field" %>
			<a class="navbar-brand" href="tops">Home</a>
			<a class="navbar-brand" href="#">About</a>
			<a class="navbar-brand" href="#">Features</a>
			<a class="navbar-brand" href="#">Princing</a>
			<a class="navbar-brand" href="#">Contact us</a>
		</div>
</nav>

  </header>
<h1>患者詳細画面</h1>
<p>患者番号: <%= @customer.medical_record_number %></p>
<p>動物大分類: <%= @customer.animal_major_classification %></p>
<p>動物小分類: <%= @customer.animal_subcategory %></p>
<p>名前: <%= @customer.name %></p>
<p>最終来院日: <%= @customer.last_visit_date %></p>

<td><%= link_to "新規カルテ", new_karte_path  %></td>
