<!DOCTYPE html>
<html>
  <head>
    <title>PETTRA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
		<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
		<%= image_tag 'image.png', class: "tops_field" %>
			<a class="navbar-brand" href="tops">Home</a>
			<a class="navbar-brand" href="#">About</a>
			<a class="navbar-brand" href="#">Features</a>
			<a class="navbar-brand" href="#">Princing</a>
			<a class="navbar-brand" href="#">Contact us</a>
		</div>

</nav>

  </header>

<h1>傷病検索</h1>
<%= search_form_for @q, url: search_diseases_path do |f| %>
  <%= f.label :disease_cont, '傷病名' %>
  <%= f.search_field :disease_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>


<footer>
  <p>© 2021 PETTRA Corp.</p>
</footer>
